@{
    ViewBag.Title = "Informacije o projektu";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>
        <strong>Naziv projekta:</strong> To-do List
    </p>
    <p>
        <strong>Visual Studio Template:</strong> ASP.NET Web Application (.NET Framework)
    </p>
    <p>
        <strong>Prošireni opis:</strong>
        Lista i mogućnost upisivanja zadataka koje želimo ostvariti ili napraviti, aplikacija nam daje mogućnost da u našu lidtu dodamo neki novi zadatak, da ga obrišemo, da ga označimo kao završeni tjm da smo ga odradili pa ga označimo kao gotov. Također imamo mogućnost da pogledamo sve zadatke odjednok koje smo zadali i koje imamo još od orijem I imamo mogućnost da odredimo da nam se zadatci sortiraju prema prioritetu ili datumu upisivanja i sl. Mogućnost kreiranja to-do liste i upisivanje na cemu bi se temeljila ta naša to-do lista. Mogućnost da aplikacija podsjeti ili pošalje obavijest na mail ili nešto slično kao podsjetnik da nam se približava vrijeme za određeni zadatak. I potrebna je registracija i da aplikacija zapamti prijave te tko radu svoju listu.
    </p>
    <p>
        <strong>Funkcionalnosti:</strong>
    </p>
    <ol>
        <li>Kogućnost kreiranja to-do liste i upisivanje na cemu bi se temeljila ta naša to-do lista</li>
        <li>Mogućnost da aplikacija podsjeti ili pošalje obavijest na mail ili nešto slično kao podsjetnik da nam se približava vrijeme za neki određeni zadatak</li>
        <li>Mogućnost brisanja zadatka i ozjačavanje zadatka kao završenog</li>
        <li>Potrebna je registracija i da aplikacija zapamti prijave te tko radi svoju listu</li>
        <li>Sortiraj ih po prioritetu ili datumu i moguće je vidjeti stvari iz neke prijašnje to-do liste</li>
    </ol>
</main>