@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">
  


    <p>
        <strong>Naziv kolegija:</strong> Programski alati u programiranju<br />
        <strong>Godina izrade projekta:</strong> 2024
    </p>

    <address>
        <strong>Ime i Prezime:</strong> Filip Hren<br />
        <strong> Email: </strong><a href="mailto:filiphren7@gmail.com">filiphren7@gmail.com</a>
    </address>
</main>