@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Add the new section with the button -->
    <section class="row" aria-labelledby="todolistsTitle">
        <h2 id="todolistsTitle">Todo List</h2>
        <p>Kreirajte svoju vlastitu TO-DO listu</p>
        <p><a href="/todolists" class="btn btn-primary btn-md">Popis TO-DO lista &raquo;</a></p>
    </section>
</main>